baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://iceplugins.xyz" # the base hostname & protocol for your site, e.g. http://example.com

markdown: kramdown
permalink: /:title/

title: Nerdy Gamers
description: A Plugin/Script repository for Ultima Online, Rust, and Unturned.
author: JBob
logo: https://nerdygamers.github.io/favicon.png

defaults:
  - scope:
      path: ""
    values:
      image: https://nerdygamers.github.io/favicon.png

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
