<div class="ui vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="https://nerdygamers.github.io/contact" class="item footer-text">Contact Us</a>
                    <a href="{{ site.url }}/about" class="item footer-text">About Us</a>
                    <a href="{{ site.url }}/sitemap.xml" class="item footer-text">Sitemap</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">About the Author</h4>
                <p class="footer-text">This website was created by JBob and Ragnarok. I heard they are pretty cool.</p>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Our Mission</h4>
                <p class="footer-text">Our sole purpose is to deliver free Unturned, Ultima Online and Rust Plugins/Scripts to YOU! Many low-effort plugins are being sold for heinous amounts of money. Many plugins hide their useful code behind obfuscation. We are here to fix that.</p>
            </div>
        </div>
    </div>
</div>