<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            <a href="index.html" class="nerdfont"><img src="favicon.png" alt="" class="img-fluid"></a>
        </h1>
        <h3 class="nerdfont">Free Ultima Online, Rust, and Unturned Plugins/Scripts/Resources</h3>
    </div>
    <div class="ui divider hidden">
    </div>

    <div class="ui container">
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
            <div class="container">
                <!-- Start .nav-menu -->
                <nav class="nav-menu d-none d-lg-block">
                    <ul class="nav-inner">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="index.html#services">Services</a></li>
                            <li class="drop-down">
                                <a href="#">Plugins/Scripts</a>
                                <ul>
                                    <li class="drop-down">
                                        <a href="index.html/uo">Ultima Online</a>
                                        <ul>
                                            <li class="drop-down">
                                                <a href="index.html/uo/items">Items</a>
                                                <ul>
                                                    <li><a href="index.html/uo/item-deco">Deco</a></li>
                                                    <li><a href="index.html/uo/item-armor">Armor</a></li>
                                                    <li><a href="index.html/uo/item-weapons">Weapons</a></li>
                                                    <li><a href="index.html/uo/item-misc">Misc</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="index.html/uo/mobiles">Mobiles</a></li>
                                            <li><a href="index.html/uo/systems">Systems</a></li>
                                        </ul>
                                        <li><a href="index.html/rust">Rust</a></li>
                                        <li><a href="index.html/unturned">Unturned</a></li>

                                    </li>
                                </ul>
                            </li>

                        <li class="drop-down">
                            <a href="index.html/about">About</a>
                            <ul>
                                <li><a href="index.html/about">Team</a></li>
                                <li><a href="index.html/faq">Faq</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End .nav-menu -->
            </div>
        </header><!-- End Header 
        <a href="https://nerdygamers.github.io" class="ui inverted button nerdfont"><i class="github icon"></i>Github</a>
        <a href="https://discord.gg/2EZcbR27fs" class="ui inverted button nerdfont"><i class="discord icon"></i>Discord</a>
        <a href="https://steamcommunity.com/groups/nerdygamers" class="ui inverted button nerdfont"><i class="steam icon"></i>Steam</a>-->
        </div>
    </div>