<head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Template index CSS File -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            <a href="{{ site.url }}" class="nerdfont"><img src="favicon.png" alt="" class="img-fluid"></a>
        </h1>
        <h3 class="nerdfont">Free Ultima Online, Rust, and Unturned Plugins/Scripts/Resources</h3>
    </div>
    <div class="ui divider hidden">
    </div>

    <div class="ui container">
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
            <div class="container">
                <!-- Start .nav-menu -->
                <nav class="nav-menu d-none d-lg-block">
                    <ul class="nav-inner">
                        <li class="active"><a href="{{ site.url }}">Home</a></li>
                        <li><a href="index.html#services">Services</a></li>
                            <li class="drop-down">
                                <a href="#">Plugins/Scripts</a>
                                <ul>
                                    <li class="drop-down">
                                        <a href="{{ site.url }}/uo">Ultima Online</a>
                                        <ul>
                                            <li class="drop-down">
                                                <a href="{{ site.url }}/uo/items">Items</a>
                                                <ul>
                                                    <li><a href="{{ site.url }}/uo/item-deco">Deco</a></li>
                                                    <li><a href="{{ site.url }}/uo/item-armor">Armor</a></li>
                                                    <li><a href="{{ site.url }}/uo/item-weapons">Weapons</a></li>
                                                    <li><a href="{{ site.url }}/uo/item-misc">Misc</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{{ site.url }}/uo/mobiles">Mobiles</a></li>
                                            <li><a href="{{ site.url }}/uo/systems">Systems</a></li>
                                        </ul>
                                        <li><a href="{{ site.url }}/rust">Rust</a></li>
                                        <li><a href="{{ site.url }}/unturned">Unturned</a></li>

                                    </li>
                                </ul>
                            </li>

                        <li class="drop-down">
                            <a href="{{ site.url }}/about">About</a>
                            <ul>
                                <li><a href="{{ site.url }}/about">Team</a></li>
                                <li><a href="{{ site.url }}/faq">Faq</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End .nav-menu -->
            </div>
        </header><!-- End Header 
        <a href="https://nerdygamers.github.io" class="ui inverted button nerdfont"><i class="github icon"></i>Github</a>
        <a href="https://discord.gg/2EZcbR27fs" class="ui inverted button nerdfont"><i class="discord icon"></i>Discord</a>
        <a href="https://steamcommunity.com/groups/nerdygamers" class="ui inverted button nerdfont"><i class="steam icon"></i>Steam</a>-->
    </div>
</div>